*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
a{
    text-decoration: none !important;
    color: #65481f !important;
}
.img-fluid{
    min-width: 100%;
    height: auto;
}
main{
    /* background-color: #f5eadb74; */
    min-height: 85vh;
    /* background-size: contain;
    background-position-y: 100%;
    background-repeat: no-repeat; */
    background-color: #f7e8d4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2365481f' fill-opacity='0.24' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10rem; */

}
footer{
    color: #65481f;
    text-align: center;
    padding: 2rem;
}
.titule {
    text-align: center; 
    font-family: 'Barlow', sans-serif;
    font-weight: bold; 
    font-size: 40px; 
    color: #d4ac74; 
    text-shadow: -1px 0 #65481f, 0 1px #65481f, 1px 0 #65481f, 0 -1px #65481f;
    padding: 2rem;
}
/* ---FORM--- */
.main {
    width: 500px;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}
.contenedor{
    width: 350px;
    height: 400px;
}
#chk {
    display: none;
}
.signup {
    position: relative;
    width: 100%;
    height: 100%;
  }
  label {
    color: #65481f;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  input, select {
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: rgb(188, 183, 156);
    background: #65481f;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
  }
  button:hover {
    background: #65481f;
  }
  .login {
    height: 460px;
    background: #f3b963f5;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: 0.8s ease-in-out;
  }
  .login label {
    color: #65481f;
    transform: scale(0.6);
  }
  
  #chk:checked ~ .login {
    transform: translateY(-500px);
  }
  #chk:checked ~ .login label {
    transform: scale(1);
  }
  #chk:checked ~ .signup label {
    transform: scale(0.6);
  }

